* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

.logo {
    position: fixed;
    top: 50px;
    left: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    z-index: 10;
}

.logo p {
    margin: 0;
}

.homepage {
    background: url('Blissoo Images/Flower/Flower_IMG_3.jpg') no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: filter 0.3s ease-in-out;
    background-attachment: fixed;
    z-index: 1;
    overflow: hidden;
}
.homepage.blurred {
    filter: blur(8px);
}

.homepage.hide-elements .logo,
.homepage.hide-elements .scroll-pointer {
    opacity: 0;
    pointer-events: none;
}

.text-bg {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 100%;
    border-radius: 10px;
}

.title {
    font-size: 4rem;
    color: white;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}

.subtitle {
    color: white;
    font-size: 1.5rem;
    margin: 10px 0 20px;
    font-style: italic;
}

.scroll-pointer {
    color: white;
    position: absolute;
    bottom: 20px;
    text-align: center;
    font-size: 1rem;
    animation: bounce 2s infinite;
    cursor: pointer;
}

.scroll-pointer span {
    font-size: 2rem;
    margin-bottom: 5px;
}

.scroll-pointer p {
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1px;
}

.text-section {
    background: transparent;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    z-index: 20;
    overflow: hidden;
    padding: 40px;
}

.large-text {
    font-size: 4rem;
    font-weight: bold;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-in-out;
}

.large-text.visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}